// Accent Colors
// ----------------------------------------------------------------------------------------
$white: #fff;
$dark: #000;
$background: #0f1626;

$accent1: #051C2C;
$accent2: #002E6D;
$accent3: #C10230;
$accent4: #E54360;
$accent5: #CFD2D3;
$accent6: #FFFFFF;

$selection-background: $accent1;
$selection-color: $light;

// Fonts
// ----------------------------------------------------------------------------------------
$root-font: 16px;
$root-line-height: 1.6;

$regular: 'radikalregular';
$thin: 'radikalthin';
$light: 'radikallight';
$bold: 'radikalbold';

// Container Width
// ----------------------------------------------------------------------------------------
$container-width: 1024px;
$max-container-width: 1280px;

// Media Queries
// ----------------------------------------------------------------------------------------
@mixin mq-max($mq: 1024px) {@media (max-width: $mq) {@content;}}
@mixin mq-min($mq: 1024px) {@media (min-width: $mq) {@content;}}

@mixin mq-large-max {@media (max-width: 1024px) {@content;}}
@mixin mq-large-min {@media (min-width: 1024px) {@content;}}

@mixin mq-medium-max {@media (max-width: 768px) {@content;}}
@mixin mq-medium-min {@media (min-width: 768px) {@content;}}

@mixin mq-small-max {@media (max-width: 680px) {@content;}}
@mixin mq-small-min {@media (min-width: 680px) {@content;}}

@mixin mq-tiny-max {@media (max-width: 420px) {@content;}}
@mixin mq-tiny-min {@media (min-width: 420px) {@content;}}
