@font-face {
    font-family: 'radikalbold';
    src: url('../fonts/nootype_-_radikal_bold.woff2') format('woff2'),
         url('../fonts/nootype_-_radikal_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikallight';
    src: url('../fonts/nootype_-_radikal_light.woff2') format('woff2'),
         url('../fonts/nootype_-_radikal_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalthin';
    src: url('../fonts/nootype_-_radikal_thin.woff2') format('woff2'),
         url('../fonts/nootype_-_radikal_thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalregular';
    src: url('../fonts/nootype_-_radikal.woff2') format('woff2'),
         url('../fonts/nootype_-_radikal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}