* {
	margin: 0;
	padding: 0;
}

body {
	font-size: $root-font;
	line-height: $root-line-height;
	font-family: $regular;
	background: $background;
	color: $white;
	letter-spacing: 2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url(../images/watercolor-bg.png) center no-repeat $accent1;
	background-size: cover;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  overflow: hidden;
}


@keyframes compassrotate {
  0% {
    transform: translate(0, -50%) rotate(60deg);
  }
  25% {
    transform: translate(0, -50%) rotate(40deg);
  }
  50% {
    transform: translate(0, -50%) rotate(60deg);
  }
  75% {
    transform: translate(0, -50%) rotate(80deg);
  }  
  100% {
    transform: translate(0, -50%) rotate(60deg);
  }      
}

.mouse {
	display: none;
}

::-moz-selection { 
	background: $accent2;
	color: $light; 
}

::selection { 
	background: $accent2; 
	color: $light;
}

.container {
	position: relative;
	padding: 1rem;
	width: 100%;
}

.compass {
	display: none;
}

.branding {
	display: block;
	width: 100%;
	max-width: 150px;
	margin: 1rem 0rem 3rem;
}

	h1 {
		font-size: 1.5rem;
		line-height: 1.3;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: $bold;
	}

	.frame {
		display: none;
	}

	.content {
		padding: 1rem 0.5rem;
		width: 100%;
		text-align: left;

		h1 {
			position: relative;
			left: 0;
			margin: 0;
			padding: 0;
		}

		p {
			font-size: 1rem;
			font-family: $light;
			margin: 1rem 0 1rem;
		}

		a.more {
			display: inline-block;
			width: auto;
			border: 1px solid $white;
			padding: 1rem 1rem 0.8rem;
			margin: 0;
			color: $white;
			line-height: 1;
			text-decoration: none;
			text-transform: uppercase;
			transition: 1s background ease, 1s border-color ease;

			&:hover {
				background: $accent1;
				border-color: $accent1;
				color: $white;
			}
		}

		.social-media {
			display: block;
			margin: 2rem 0;

			li {
				list-style-type: none;
				display: inline-block;

				a {
					display: block;
					float: left;
					text-decoration: none;
					margin-right: 0.5rem;
					width: 32px;
					padding-bottom: 5px;
					text-align: center;
					border-bottom: 1px solid $accent6;
				}
			}
		}
	}   

@include mq-large-min {
	.mouse {
		display: block;
		position: absolute;
		z-index: 4000;
		background: red;
		height: 52px;
		width: 55px;
		background: url(../images/mouse.svg) center no-repeat;
		background-size: contain;
	}

	.container {
		position: absolute;
		top: 50%;
		left: 7.4rem;
		transform: translate(0, -50%);
		z-index: 2;
		margin: 0 0 0 0;
	}

	.compass {
		display: block;
		position: absolute;
		right: -230px;
		top: 50%;
		width: 100%;
		max-width: 770px;
		opacity: 0.12;
		transform: translate(0, -50%) rotate(60deg);
		animation: compassrotate 20s infinite;
   	animation-timing-function: ease-in-out;

		img {
			width: 100%;
			height: auto;
		}
	}

	.branding {
		width: 100%;
		max-width: 225px;
		margin: 0 0 4rem;
	}

	h1 {
		font-size: 4.375rem;
		line-height: 1.1;
	}

	.frame {
	  display: block;
	  z-index: 3;
	  position: absolute;
	  right: 100px;
	  top: -3rem;
	  border: 1px solid #fff;
	  width: 100%;
	  height: 620px;
	}

	.content {
		padding: 0;
		position: relative;
		z-index: 4;
		text-align: left;
		max-width: 100%;

		h1 {
			position: relative;
			left: 0;
			white-space: nowrap;
			margin: 0 0 2.5rem;
			padding: 0;
			font-size: 3.7rem;
			letter-spacing: 10px;
		}

		p {
			font-size: 1.2rem;
			margin: 1.5rem 0 3.5rem;
			max-width: 610px;

			&.caption {
				margin: 0 0 1.5rem;
				padding: 0 0 0 30px;

				&:before {
					content: "";
					width: 20px;
					height: 1px;
					left: 0;
					top: 11px;
					background: $white;
					position: absolute;
				}
			}
		}

		.social-media {
			margin-top: 4rem;
		}
	}   
}